<!--
<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %>
    <br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>
  
  <br>
  
  <div>
    <%= form.label :body %>
    <br>
    <%= form.text_field :body %>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>
  
  <br>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
-->

<%= simple_form_for article do |form| %>
  <%= form.input :title %>
  <%= form.input :body, input_html: { rows: 10 } %>
  <br>
  <p>
    <%= form.button :submit, class: 'btn btn-primary' %>
    <%= link_to 'Back', articles_path, class: 'btn btn-secondary' %>
  </p>
<% end %>